# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
.hypothesis/
.pytest_cache
.vscode/
tests/
static/
staticfiles/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*

# pytest
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
